body {
  font: 16px Georgia, "Times New Roman", serif;
}

#header { background-color: #FF6600; margin-bottom: 0; }

#nav a { color: #E0E0E0; }

.site_id { margin-top: 24px; padding-left: 12px; }
.site_id a { text-decoration: none; color: black; }

.big { font-size: 18px; padding: 5px; margin-top: 4px; }

.main_content { border-bottom: 6px solid #FF6600; background-color: #E0E0E0; }

.pad_24 { padding: 24px; }

#nav { padding-top: 36px; }
#nav a { margin-right: 8px; }

#stuff li { margin-bottom: 8px; }
